body
{
    background: rgb(43, 43, 43);
    color:rgb(2, 2, 2);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #33A ;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.7);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 0.5em;
    font-weight: normal;
    font-size: 0.8em;
}


#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 10 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    background: #DDD;
    padding: 1em;
}