body
{
    color:rgb(3, 3, 3);
    text-align: left;
    font-family: "courier";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: len;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}